@import "tailwindcss";

@theme inline {
  --color-primary: #003813;
  --color-primary-hover: #004d1a;
  --color-dark: #252B37;
  --color-gray: #717680;
  --color-gray-200: #E9EAEB;
  --color-gray-300: #D5D7DA;
  --color-gray-500: #717680;
  --color-gray-700: #414651;
  --color-gray-800: #252B37;
  --color-gray-light: #D5D7DA;
  --color-gray-bg: #F7F7F7;
  --color-footer-bg: #FAFAFA;
  --color-red: #F04438;
  --color-red-500: #F04438;
  --font-heading: var(--font-areainktrap);
  --font-body: var(--font-lato);

  --color-background: var(--color-white);

  --color-input: #E9EAEB;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--color-black);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}