@import "tailwindcss";

@theme inline {
  --color-primary: #003813;
  --color-primary-hover: #004d1a;
  --color-dark: #252B37;
  --color-gray: #717680;
  --color-gray-light: #D5D7DA;
  --color-gray-bg: #F7F7F7;
  --color-footer-bg: #FAFAFA;
  --color-red: #F04438;
  --font-heading: "Area Inktrap", serif;
  --font-body: "Lato", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: var(--color-dark);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}